<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        
        <img class="taushiq-image img img-thumbnail" alt="100x100" src="/assets/images/taushiq.jpg" data-holder-rendered="true">
        <h1>A Progressive Web App</h1>
        <p>Powered by Angular 10.0.4</p>
        <p>Developed by <a href="http://taushiqswebsite.epizy.com/?i=1" target="_blank">Taushiq Awais</a></p>
        <p>Email: <a href="mailto:taushiqawais@gmail.com">taushiqawais@gmail.com</a></p>
        <p>Mob: +91 8444052246</p>

    </div>
    <div class="col-md-3"></div>
</div>
