<div *ngIf="!movies" class="text-center mt-5 text-danger">
    <h3 class="mt-5">Loading...</h3>
    <img class="mt-5" src="../../../assets/images/loading.gif" alt="loading...">
</div>

<div class="row" *ngIf="movies">
    <div class="card col-md-4 col-sm-6 col-xs-12" *ngFor="let m of movies">
        <div class="alert alert-primary " style="cursor:pointer;"
        [routerLink]="['/movie-details', m.imdbID]">
            <div class="card-body">
                <h5 class="card-title">{{m.Title}}</h5>
                <p>{{m.Year}}</p>
                <img class="img img-thumbnail" [src]=m.Poster alt="m.Title">
            </div>
        </div>
    </div>
</div>